body {
  height: 100vh;
  background: rgb(209, 213, 198);
}

// Specific CSS for your home-page
.sentence {
  font-size: 56px;
  margin: 0;
  font: $body-font;
}

.sentence-container {
  margin-top: 5rem;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $green;
  }
}

.name {
  opacity: 1;
}

.web-developer {
  opacity: 1;
}
.accountant {
  opacity: 0.8;
}
.insolveny-administrator {
  opacity: 0.7;
}
.writer {
  opacity: 0.5;
}
.chef {
  opacity: 0.4;
}
.student {
  opacity: 0.2;
}

.tag {
  display: block;
  padding: 1rem 0 1rem 0;
}

.hidden {
  display: none;
}
