// Specific CSS for your home-page
.sentence {
  font-size: 56px;
}

.sentence-container {
  margin-top: 2em;
}

.name {
  opacity: 1;

  &:hover {
    font-family: "Courier New", Courier, monospace;
  }
}

.expand {
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;

  a {
    text-decoration: none;
    color: black;
  }
}

.web-developer {
  opacity: 1;
}
.accountant {
  opacity: 0.9;
}
.insolveny-administrator {
  opacity: 0.8;
}
.writer {
  opacity: 0.7;
}
.chef {
  opacity: 0.6;
}
.artist {
  opacity: 0.5;
}
.student {
  opacity: 0.4;
}
.scholar {
  opacity: 0.3;
}
.small-child {
  opacity: 0.2;
}
.baby {
  opacity: 0.1;
}

.tag:hover {
  opacity: 1;
  font-family: "Courier New", Courier, monospace;
}

.img {
  width: 100%;
}

.hidden {
  display: none;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  85% {
    transform: rotate(4deg);
  }
  95% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 2s infinite;
}

.wiggle:hover {
  animation: none;
}
