<div class="container">
    <div class="sentence-container">
    <span class="sentence">
      I am
      <span data-controller="tag">
        <span class="tag name wiggle" data-action="mouseover->tag#unhide mouseout->tag#hide">Ian.</span>
        <div class="hidden expand" data-tag-target="expand">
          <i class="fa-brands fa-github"></i>
          <a href=""><%= image_tag "ian.jpg", alt: "Le Wagon", class: "hidden" %> /Azzzvedo</a>
          <i class="fa-brands fa-linkedin-in"></i>
          <a href=""><%= image_tag "ian.jpg", alt: "Le Wagon", class: "hidden" %> /ian-r-wiggins/</a>
        </div>
      </span>

      <span data-controller="tag">
        <span class="tag name" data-action="mouseover->tag#unhide mouseout->tag#hide">Ian.</span>
        <div class="hidden expand" data-tag-target="expand">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aut praesentium numquam eaque nemo quod, esse aliquam blanditiis ipsum magnam maxime reiciendis deserunt corporis commodi repellat odit voluptatem eius.</p>
        </div>
      </span>

      <span class="tag web-developer">Web Developer.</span>
      <span class="tag accountant">Accountant.</span>
      <span class="tag insolveny-administrator">Insolveny Administrator.</span>
      <span class="tag writer">Writer.</span>
      <span class="tag chef">Chef.</span>
      <span class="tag artist">Artist.</span>
      <span class="tag student">Student.</span>
      <span class="tag scholar">Scholar.</span>
      <span class="tag small-child">Small Child.</span>
      <span class="tag baby">Baby.</span>
    </span>
  </div>
</div>
