
<div class="container">
    <div class="sentence-container">
    <div class="sentence" data-controller="form">

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag">I am <span class="name" data-tag-target="button wiggler">Ian.</span></span>
          <p class="hidden expand" data-tag-target="expand">

            <a href=""><%= image_tag "ian.jpg", alt: "Le Wagon", class: "hidden" %><i class="fa-brands fa-github" ></i> /Azzzvedo</a>

            <a href=""><%= image_tag "ian.jpg", alt: "Le Wagon", class: "hidden" %><i class="fa-brands fa-linkedin-in"></i> /ian-r-wiggins/</a>
          </p>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag web-developer" data-tag-target="button wiggler">Web Developer.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag accountant" data-tag-target="button wiggler">Accountant.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag insolveny-administrator" data-tag-target="button wiggler">Insolveny Administrator.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag writer" data-tag-target="button wiggler">Writer.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag chef" data-tag-target="button wiggler">Chef.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag artist" data-tag-target="button wiggler">Artist.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag student" data-tag-target="button wiggler">Student.</span>
            <div class="hidden expand" data-tag-target="expand">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </span>
      </div>

      <div data-controller="tag" data-form-target="last">
          <span data-action="mouseover->tag#unhide mouseout->tag#hide">
            <span class="tag student" data-tag-target="button wiggler">You name it.</span>
            <div class="hidden expand" data-tag-target="expand" >
                <input type="text" data-form-target="input" data-action="keyup->form#enter">
                <span class="button" data-action="click->form#add"> Add it!</span>
            </div>
          </span>
      </div>

    </div>
  </div>
</div>
