<div class="container">
  <div class="sentence-container">
    <div class="sentence" data-controller="form">
      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag">I am <span class="name" data-tag-target="link">Ian.</span></span>
          <p class="hidden expand" data-tag-target="expand">
            <a href="https://github.com/Azzzvedo"><i class="fa-brands fa-github" ></i> /Azzzvedo</a>
            <a href="https://www.linkedin.com/in/ian-r-wiggins/"><i class="fa-brands fa-linkedin-in"></i> /ian-r-wiggins/</a>
          </p>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag web-developer" data-tag-target="link">Web Developer.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--header">Skills</p>
            <p class="expand--para">
              <a target="_blank" href="https://guides.rubyonrails.org/">Ruby on Rails</a> |
              <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a> |
              <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CS">CSS<a> |
              <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> |
              <a target="_blank" href="https://stimulus.hotwired.dev/">Stimulus JS</a> |
              <a target="_blank" href="https://www.ruby-lang.org/en/">Ruby</a> |
              <a target="_blank" href="https://github.com/">GitHub</a> |
              <a target="_blank" href="https://www.postgresql.org/">PostgreSQL</a> |
              <a target="_blank" href="https://id.heroku.com/login">Heroku</a>
            </p>
            <p class="expand--header">Projects</p>
            <p class="expand--para"><a href="http://www.pairs-now.co.uk/">Pairs.</a></p>
            <p class="expand--header">Web Development Teaching Assistant | London, UK | Le Wagon Coding Academy | Apr 2022 – Jun 2022</p>
            <p class="expand--para">Educate students in web development concepts including HTML, JavaScript (and the associated JSON notation), Ruby, Ruby on Rails, CSS, GitHub, PostgreSQL</p>
            <p class="expand--para">Understand students’ problems during practical exercises to help them to find solutions</p>
            <p class="expand--para">Provide end-of-day reports to senior teaching staff to assist with monitoring progress of learners</p>

          </div>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag accountant" data-tag-target="link">Accountant.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--header">Audit Senior | London & Bristol, UK | Mazars UK LLP | Jul 2017 – Oct 2021</p>
            <p class="expand--para">Interrogate quantitative and qualitative data from client to identify priority concerns and areas of significant risk</p>
            <p class="expand--para">Assess financial information and client risk profile to set materiality for audit testing using appropriate benchmark</p>
            <p class="expand--para">Interview client employees to understand core business processes and document frameworks</p>
            <p class="expand--para">Design and implement testing procedures to ensure financial statements are fairly presented</p>
            <p class="expand--para">Engage with senior management and business owners to discuss key business developments</p>
            <p class="expand--para">Draft post-audit reports on the state of clients’ record keeping systems and financial health</p>
            <p class="expand--para">Oversee junior team member to ensure efficient division of tasks and labour</p>
            <p class="expand--para">Complete audits to strict statutory deadlines</p>

          </div>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag insolveny-administrator" data-tag-target="link">Insolveny Administrator.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--header">Insolvency Administrator | Bristol, UK | Grant Thornton UK LLP | May 2016 – Jul 2017</p>
            <p class="expand--para">Engage with and instruct solicitors to seek advice and initiate legal processes</p>
            <p class="expand--para">Review court applications for bankruptcy related procedures</p>
            <p class="expand--para">Prepare correspondence by combing customizable templates with bespoke drafting</p>
            <p class="expand--para">Conduct asset checks including Land Registry searches and banks statement reviews</p>
            <p class="expand--para">Stakeholder communications with debtors, creditors, the Insolvency Service, HMRC and others </p>
          </div>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag writer" data-tag-target="link">Writer.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--header">Contributing Writer | Harare, Zimbabwe | Harare News | Aug 2014 – Dec 2014</p>
            <p class="expand--para">Research subject matter and pitch stories to editorial team </p>
            <p class="expand--para">Draft articles and revise based on editorial feedback prior to publication</p>

          </div>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag chef" data-tag-target="link">Chef.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--header">Remote Site Camp Manager | Kenya & Ethiopia | Ardan Risk and Support Services | Aug 2013 – Aug 2014</p>
            <p class="expand--para">Manage a team of 30 - 40 staff providing support services to mining and oil exploration camps housing up to 300 individuals in remote and extreme environments on a 24-hour basis</p>
            <p class="expand--para">Adapt to highly changeable weather and supply conditions to ensure a seamless high-quality service</p>
            <p class="expand--para">Attend daily senior management meetings to report on activities under my control to senior oil company representatives on the ground</p>

            <p class="expand--header">Chef de Partie | Cape Town, South Africa |Myoga Restaurant | Dec 2012 – Jun 2013</p>
            <p class="expand--para">Prepare high quality meals in a high pressure and fast-paced kitchen of a top Cape Town restaurant</p>
          </div>
        </span>
      </div>

      <div data-controller="tag">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag student" data-tag-target="link">Student.</span>
          <div class="hidden expand" data-tag-target="expand">
            <p class="expand--para">Web Development Bootcamp| Le Wagon | Jan 2022 – Mar 2022</p>
            <p class="expand--para">Chartered Accountancy Qualification | ACA (Part Qualified) | Jul 2017 – Oct 2021</p>
            <p class="expand--para">Grande Diploma with Merit | Prue Leith Chef's Academy | Jan 2012 – Jun 2013</p>
            <p class="expand--para">BA Films Studies & Media and Writing | University of Cape Town | Jan 2007 – Nov 2009</p>
          </div>
        </span>
      </div>

      <div data-controller="tag" data-form-target="last">
        <span data-action="mouseover->tag#unhide mouseout->tag#hide">
          <span class="tag student" data-tag-target="link">You name it.</span>
          <div class="hidden expand" data-tag-target="expand" >
              <input type="text" data-form-target="input" data-action="keyup->form#enter">
              <span class="link" data-action="click->form#add"> Add it!</span>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
