<div class="banner">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<h1>Posts</h1>
<br>
<ul>
  <% @posts.each do |post| %>
    <li class="button">
      <h2><%=  %></h2>
      <%= link_to post.title, post%>
    </li>
  <% end %>
</ul>
<br><br>
<p class="button"><%= link_to "Create new post", new_post_path %></p>
