.button {
  margin-top: 0rem;
  margin-bottom: 0px;
  font-family: $mono-font, Courier, monospace;
  color: $green;
  opacity: 1 !important;
  cursor: pointer;
  transition: color 1s;
  &:hover {
    color: $green;
    opacity: 1;
  }
}

.hover-button:hover {
  margin-top: 0rem;
  margin-bottom: 0px;
  font-family: $mono-font, Courier, monospace;
  color: $green;
  opacity: 1 !important;
  cursor: pointer;
  transition: color 1s;
}
